@import "tailwindcss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@theme {
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;

  --color-text: #4c4f69;
  --color-subtext-1: #5c5f77;
  --color-subtext-0: #6c6f85;
  --color-overlay-2: #7c7f93;
  --color-overlay-1: #8c8fa1;
  --color-overlay-0: #9ca0b0;
  --color-surface-2: #acb0be;
  --color-surface-1: #bcc0cc;
  --color-surface-0: #ccd0da;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;

  --color-accent: var(--color-green);
  --color-secondary: var(--color-red);
  --color-primary: var(--color-peach);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;

    --color-text: #cdd6f4;
    --color-subtext-1: #bac2de;
    --color-subtext-0: #a6adc8;
    --color-overlay-2: #9399b2;
    --color-overlay-1: #7f849c;
    --color-overlay-0: #6c7086;
    --color-surface-2: #585b70;
    --color-surface-1: #45475a;
    --color-surface-0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;

    --color-accent: var(--color-green);
    --color-secondary: var(--color-red);
    --color-primary: var(--color-peach);
  }
}

body {
  @apply bg-base m-0 text-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text {
  @apply bg-clip-text bg-linear-to-r from-primary to-secondary text-transparent;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 py-16 lg:py-24;
}