@import "tailwindcss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@theme {
  --color-love: #b4637a;
  --color-rose: #d7827e;
  --color-gold: #ea9d34;
  --color-pine: #286983;
  --color-foam: #56949f;
  --color-iris: #907aa9;

  --color-text: #575279;
  --color-subtle: #797593;
  --color-muted: #9893a5;
  --color-overlay: #f2e9e1;
  --color-surface: #fffaf3;
  --color-base: #faf4ed;

  --color-highlight-low: #f4ede8;
  --color-highlight-med: #dfdad9;
  --color-highlight-high: #cecacd;

  --color-accent: var(--color-foam);
  --color-secondary: var(--color-love);
  --color-primary: var(--color-gold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-love: #eb6f92;
    --color-rose: #ebbcba;
    --color-gold: #f6c177;
    --color-pine: #31748f;
    --color-foam: #9ccfd8;
    --color-iris: #c4a7e7;

    --color-text: #e0def4;
    --color-subtle: #908caa;
    --color-muted: #6e6a86;
    --color-overlay: #26233a;
    --color-surface: #1f1d2e;
    --color-base: #191724;

    --color-highlight-low: #21202e;
    --color-highlight-med: #403d52;
    --color-highlight-high: #524f67;

    --color-accent: var(--color-foam);
    --color-secondary: var(--color-love);
    --color-primary: var(--color-gold);
  }
}

body {
  @apply bg-base m-0 text-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text {
  @apply bg-clip-text bg-linear-to-r from-primary to-secondary text-transparent;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 py-16 lg:py-24;
}

/* Temporary utility to accent-highlight borders on scroll-to */
.highlight-accent-border {
  outline: 2px solid var(--color-accent);
  outline-offset: 0px;
}
